:root {
  --navcolor: #1d3557;
  --bodycolor: #7fb7bb;
  --fontcolor: #e63946;
  --buttoncolor: #c3c8c2;
  --accentcolor: #457b9d;
  --mobilenavcolor: #457b9dd4;
}

/* body */

body {
  background-color: var(--bodycolor);
  color: var(--fontcolor);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* navbar */

.navbar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 10vh;
}

.navbar a {
  text-decoration: none;
  color: var(--fontcolor);
}

.mainnav {
  background-color: var(--navcolor);
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.mainnav h1 {
  margin: 0;
  padding-left: 8%;
  font-size: 7vw;
}

.mainnav h1:hover {
  cursor: pointer;
}

.mainnav .menu {
  padding-right: 3%;
  width: 8%;
  height: 2.9vh;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  transition: 250ms;
}

.mainnav .menu:hover {
  cursor: pointer;
}

.mainnav .menu span {
  flex: 1;
  background-color: var(--fontcolor);
}

ul {
  display: none;
  position: absolute;
  top: 10vh;
  justify-content: space-evenly;
  flex: 1;
  list-style: none;
  font-size: 4.7vw;
  padding: 0;
  margin: 0;
  font-weight: 700;
  flex-direction: column;
  align-self: end;
  align-items: end;
  background-color: var(--mobilenavcolor);
  padding: 3%;
  border-radius: 5%;
  gap: 2vh;
}

.visible {
  /* a class that only gets toggled when you press the menu button in the mobile version */
  display: flex;
}

ul a {
  transition: 250ms;
}

ul a:hover {
  color: var(--navcolor);
}

/* main content (global) */

main {
  padding: 8vh 6% 0;
}

/* main content (homepage) */

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.sections p {
  padding: 0 11%;
  font-size: 4.5vw;
  text-align: center;
  padding-top: 5vh;
  border-top: 0.25vh solid var(--navcolor);
}

.sections.performancesection p {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}

.sections p a {
  color: var(--navcolor);
  text-decoration: underline;
  font-size: 4.4vw;
  font-weight: 700;
}

.sections p a:hover {
  color: var(--fontcolor);
}

img {
  border-radius: 5%;
  width: 75%;
}

.arrow {
  /* arrow that lets your scroll through the sections, only visible in the non-mobile version */
  display: none;
}

/* main content (subpages) */

input {
  text-align: right;
  flex: 1;
  font-size: 4vw;
  width: 100%;
}

input,
select {
  text-align: center;
}

.inputs {
  display: grid;
  grid-template-columns: 6fr 4fr;
  justify-items: center;
  padding-bottom: 3vh;
}

.inputs div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

button {
  font-size: 4vw;
  padding: 2% 3%;
  font-weight: 700;
  transition: 250ms;
  background-color: var(--buttoncolor);
}

button:hover {
  cursor: pointer;
}

button.calculatehr,
button.simulateplan {
  width: 100%;
}

/* table (only hr and plan page) : used grid for for responsive modern table instead of the dated table approach */

label,
.table {
  font-size: 3.8vw;
}

.table {
  padding-top: 3vh;
}

.zones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 0.125vh solid var(--navcolor);
  text-align: center;
  background-color: var(--accentcolor);
  color: var(--navcolor);
  font-weight: 600;
}

.personalhr {
  font-weight: 900;
  font-style: oblique;
}

.table .zoneheader {
  font-weight: 900;
  background-color: var(--navcolor);
  color: var(--fontcolor);
}

/* main content (performance page) */

.performancemain {
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.buttons {
  display: flex;
}

.buttons button {
  flex: 1;
}

.active {
  /* a class that shows which button is active */
  background-color: var(--navcolor);
  color: var(--fontcolor);
}

.values {
  padding: 0 4%;
}

.values p {
  padding: 0;
  margin: 0;
  font-size: 4vw;
  font-weight: 700;
}

.valuegroup {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 2.5vh;
}

.inputgroup {
  display: flex;
  gap: 1%;
  width: 100%;
}

.disabled {
  /* a class that disable the input field of the value you want to calculate */
  background-color: var(--accentcolor);
  pointer-events: none;
  user-select: none;
}

/* main content (heart rate page) */

select {
  width: 100%;
  font-size: 4vw;
}

.maxhr {
  background-color: var(--accentcolor);
  pointer-events: none;
}

/* main content (plan page) */

.planzone {
  grid-template-columns: 1fr 1fr 1fr;
}

.invisible { 
  /* a class that makes the unused rows invibisle when simulating the plan */
  display: none;
}

/* footer */

footer {
  text-align: center;
  font-size: 4vw;
  user-select: none;
}

footer p {
  margin: 0;
  padding: 1.5vh 0 0.8vh 0;
}


@media(min-width: 992px) {

  /* navbar */

  .navbar {
    flex-direction: row;
    background-color: var(--navcolor);
  }

  .mainnav {
    justify-content: center;
  }

  .mainnav .menu {
    display: none;
  }

  .mainnav h1 {
    padding-left: 0;
    font-size: 3vw
  }

  ul {
    font-size: 2.1vw;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    background-color: var(--navcolor);
    padding: 0;
    align-self: center;
    transition: 250ms;
  }

  ul a:hover {
    color: var(--bodycolor);
    cursor: pointer;
  }

  /* main content (global) */

  main {
    padding: 10vh 19% 0;
  }

  /* main content (homepage) */

  .sections {
    flex-direction: row;
    display: none;
  }

  .sections p {
    padding-top: 0;
    border-top: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    font-size: 2vw;
    width: 50%;
  }

  .sections p a {
    font-size: 1.8vw;
  }

  .arrow {
    display: flex;
    justify-content: center;
    transition: 700ms;
    padding: 5vh 0;
    color: var(--navcolor);
    margin: 0 43%;
  }

  .arrow:hover {
    color: var(--fontcolor);
    cursor: pointer;
    transform: translateY(5px);
  }

  .visiblesection {
    /* class that toggles and let your scroll throught the sections on the non-mobile homepage, other sections are invisible */
    display: flex;
  }

  img {
    width: 40%;
  }

  .hrsection img {
    order: 1;
  }

  .hrsection p {
    order: 2;
  }

  /* adjusting font sizes in non-mobile display */

  button,
  input,
  label,
  select,
  .values p {
    font-size: 1.4vw;
  }

  .table {
    font-size: 1.2vw;
  }

  footer {
    font-size: 1.7vw;
  }

}